
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/Index">
            <img src="~/Assets/logo-gold.png" width="95" height="50" class="d-inline-block align-top" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Kurs/Index">Kurslar <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/Kursiyer/Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kursiyerler
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Kursiyer/Index">Kursiyer Kayıtları</a>
                        <a class="dropdown-item" href="/Kursiyer/Create">Yeni Kursiyer Ekle</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Bir şey mi arıyordun?" aria-label="Search">
                <span class="pull-right">  </span>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
            </form>
        </div>
    </nav>

    @*container ortalıyor*@
    <div class="container body-content float-left">
        <div class="row">
            <div class="col-md-2">
                <hr />
                <ul id="adminMenu" class="list-unstyled">
                    <li>
                        <a href="/home"> <i class="glyphicon glyphicon-home"></i>  Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="/kurs"> <i class="glyphicon glyphicon-book"></i>  Kurslar</a>
                    </li>
                    <li>
                        <a href="/kursiyer"> <i class="glyphicon glyphicon-asterisk"></i> Kursiyerler </a>
                    </li>
                </ul>
                <hr />
            </div>
            <div class="col-md-10">
                <hr />
                @RenderBody()
                <hr />
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
